<div class="mat-elevation-z8 mat-table-responsive">
  <table mat-table [dataSource]="noticeDetails">
  

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> title </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!isEditing">
            {{element.title}}
          </ng-container>
          <ng-container *ngIf="isEditing">
            <input type="text" [(ngModel)]="element.title">
          </ng-container>
        </td>
      </ng-container> -->
      <ng-container matColumnDef="noticeTitle">
        <th mat-header-cell *matHeaderCellDef> title </th>
        <td mat-cell *matCellDef="let element"> {{element.noticeTitle}} </td>
      </ng-container>


      <ng-container matColumnDef="noticeMsg">
        <th mat-header-cell *matHeaderCellDef> message </th>
        <td mat-cell *matCellDef="let element"> {{element.noticeMsg}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
      </ng-container>
  
 

       <ng-container matColumnDef="updateButton">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [ngStyle]="{'background-color': isEditing ? 'green' : 'blue', 'color': 'white'}" (click)="isEditing = true; updateNotice(element)">Update</button>
        </td>
      </ng-container>
  

      <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef> deleteButton </th>
        <td mat-cell *matCellDef="let element">
        
          <button mat-raised-button color="warn" [ngStyle]="{'background-color': 'red', 'color': 'white'}" (click)="deleteNotice(element)">Delete</button>
        </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-paginator #paginator [pageSize]="5"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
  </div>