<div class="bootrap-wrapper">
    <div class="container-fluid">
      
          <div class="row">
            <div class="col-md-3">
                <mat-card class="dashboard-card dashboard-card-students">
                <mat-icon class="dashboard-icon">people</mat-icon>
                <div class="dashboard-count">{{ userCount }}</div>
                <div class="dashboard-label">Users</div>
              </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="dashboard-card dashboard-card-teachers">
                <mat-icon class="dashboard-icon">face</mat-icon>
                <div class="dashboard-count">{{ teacherCount }}</div>
                <div class="dashboard-label">Teachers</div>
              </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="dashboard-card dashboard-card-courses">
                <mat-icon class="dashboard-icon">class</mat-icon>
                <div class="dashboard-count">{{ courseCount }}</div>
                <div class="dashboard-label">Courses</div>
              </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="dashboard-card dashboard-card-enrollments">
                <mat-icon class="dashboard-icon">group_add</mat-icon>
                <div class="dashboard-count">{{ enrollmentCount }}</div>
                <div class="dashboard-label">Enrolled Students</div>
              </mat-card>
            </div>
        
  
  </div>




