table{
    margin-top: 25px;
    width: 100%;
}

.mat-paginator {
    font-size: 14px;
    height: 40px;
  }
  
  table {
    font-size: 10px;
  }
  
  th,
  td {
    padding: 10px;
  }
  

  .update-button {
    background-color: rgba(16, 2, 2, 0.084);
    color: white;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  






  table{
    margin-top: 25px;
    width: 100%;
}

.mat-paginator {
    font-size: 14px;
    height: 90px;
  }
  
  table {
    font-size: 25px;
  }
  

  .card-style {
    margin-top: 35px;
    margin-left: 100px;
    max-width: 800px; 
    max-height: fit-content;
  }
  
  ::ng-deep .mat-select-panel {
    margin-top: 20px;
  }
  
  ::ng-deep .mat-option {
    min-width: unset;
  }
  


  td, th {
    width: auto;
    white-space: nowrap;
    padding: 7px;
  }
  
