.table-responsive {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    text-align: left;
  }
  
  .mat-table {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
  }
  
  .button{
    margin-left: 25px;
    margin-right: 200px;
    text-align: center;
  }